<section class="section is-medium has-text-centered">
  <h1 class="title is-spaced">Codingame</h1>
  <h2 class="subtitle">
    The <a href="https://www.codingame.com/home">Codingame</a> platform allows
    recruiters to assess candidates for developer positions. But that's not all!
    It also enables developers from around the world to practice by solving
    progressively challenging puzzles or to compete in AI duels.
  </h2>
  <div
    class="columns is-multiline is-centered"
    *ngIf="puzzles$ | async as puzzles"
  >
    <div
      class="column is-full-mobile is-half-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd"
      *ngFor="let puzzle of puzzles"
    >
      <desn-puzzle-card
        [puzzle]="puzzle"
        (viewMoreButtonClicked)="showPuzzleDetails(puzzle)"
      />
    </div>
  </div>
</section>

<router-outlet />
