<desn-atropos [atroposOptions]="atroposOptions">
  <div class="card custom-card">
    <header class="card-header">
      <div class="media">
        <div class="media-content">
          <p class="title is-4" data-atropos-offset="5">
            {{ puzzle?.title }}
          </p>
          <p class="subtitle is-7" data-atropos-offset="5">
            <i
              *ngIf="puzzle?.difficultyColor"
              class="fas fa-circle"
              [ngStyle]="{ color: puzzle?.difficultyColor }"
              aria-hidden="true"
            ></i>
            {{ puzzle?.subtitle }}
          </p>
        </div>
      </div>
    </header>
    <div
      class="card-content"
      [ngStyle]="{ 'background-color': puzzle?.image?.backgroundColor }"
    >
      <div class="card-image">
        <figure
          class="image is-16by9 is-full"
          *ngFor="let layer of puzzle?.image?.layers; let index = index"
        >
          <img
            [attr.data-atropos-offset]="layer?.offset"
            sizes="(max-width: 1400px) 100vw, 1400px"
            [srcset]="puzzle?.image | srcset: index"
            src="assets/images/{{ puzzle?.image?.folder }}/{{
              puzzle?.image?.folder
            }}_l{{ index }}_w1400.{{ layer.extension }}"
            alt=""
          />
        </figure>
      </div>
    </div>

    <footer class="card-footer">
      <a
        class="card-footer-item"
        (click)="viewMoreButtonClicked.emit()"
        data-atropos-offset="5"
      >
        Voir plus
      </a>
    </footer>
  </div>
</desn-atropos>
