# IDE files
.vscode/
.idea/
*.iml

# Python files
__pycache__/
.venv*
venv/

# Node files
**/node_modules

# Terraform files
*.tfstate
*.tfstate.*
*.tfplan
*.tflock
*.core
**/.terraform/
**/.terraform/*
**/.terraform.lock.hcl
*.backup

# Environment files
.env.*

# Log files
*.log

# Build artifacts
.archives/
build/
builds/
dist/

# Angular files
**/.angular

# Checkov files
.external_modules