# IDE files
.vscode/
.idea/
*.iml

# Node files
**/node_modules

# Terraform files
*.tfstate
*.tfstate.*
*.tfplan
*.tflock
*.core
**/.terraform/
**/.terraform/*
**/.terraform.lock.hcl
*.backup

# Environment files
.env.*

# Log files
*.log

# Build artifacts
.archives/
build/
builds/

# SAM files
**/.aws-sam/
