<section class="section resume has-background-primary has-text-centered">
  <div class="container is-narrow">
    <div class="box">
      <div class="columns level">
        <div class="column level-item">
          <h1 class="title is-4">Get in touch</h1>
        </div>
        <div class="column level-item">
          <p>
            Interested in hiring me? Feel free to reach out via
            <a [routerLink]="['/contact']">email</a> or
            <a href="https://www.linkedin.com/in/nicolas-desnoust/">LinkedIn</a
            >, and download my resume.
          </p>
        </div>
        <div class="column level-item">
          <button
            *ngIf="isFileSaverSupported"
            class="button is-primary"
            (click)="downloadResume()"
          >
            <span class="icon">
              <i class="fas fa-file-alt" aria-hidden="true"></i>
            </span>
            <span>Download my resume</span>
          </button>

          <div
            *ngIf="!isFileSaverSupported"
            class="notification is-warning is-light"
          >
            You cannot download my resume: your browser does not support this
            feature. However, you can switch to a different one or contact me by
            email.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
