<section
  id="skills"
  class="section skills is-medium has-text-centered has-background-primary"
>
  <h1 class="title is-spaced has-text-white">
    Hello, my name is Nicolas Desnoust. Nice to meet you!
  </h1>
  <h2 class="subtitle has-text-white">
    Here is an overview of the skills I have acquired through my professional
    experiences, my master in Software and Data Engineering, and personal
    projects.
  </h2>
  <div class="container is-narrow">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-4">
        <div class="tile is-horizontal is-parent">
          <div class="tile is-child">
            <desn-skill-box
              imageUrl="icons/programmation.png"
              title="Languages"
            >
              <desn-skill-list [skills]="languages" />
            </desn-skill-box>
          </div>
        </div>
        <div class="tile is-horizontal is-parent">
          <div class="tile is-child">
            <desn-skill-box imageUrl="icons/database.png" title="Databases">
              <desn-skill-list [skills]="databases" />
            </desn-skill-box>
          </div>
        </div>
      </div>

      <div class="tile is-vertical">
        <div class="tile is-horizontal is-parent">
          <div class="tile is-child">
            <desn-skill-box imageUrl="icons/framework.png" title="Frameworks">
              <desn-skill-list [skills]="frameworks" />
            </desn-skill-box>
          </div>
        </div>

        <div class="tile is-horizontal is-parent">
          <div class="tile is-child">
            <desn-skill-box imageUrl="icons/agile.png" title="Methodologies">
              <desn-skill-list [skills]="methodologies" />
            </desn-skill-box>
          </div>
        </div>

        <div class="tile is-horizontal is-parent">
          <div class="tile is-child">
            <desn-skill-box imageUrl="icons/devops.png" title="DevOps">
              <desn-skill-list [skills]="devops" />
            </desn-skill-box>
          </div>
        </div>
      </div>

      <div class="tile is-vertical">
        <div class="tile is-horizontal is-parent">
          <div class="tile is-child">
            <desn-skill-box
              imageUrl="icons/ux-interface.png"
              title="Librairies"
            >
              <desn-skill-list [skills]="librairies" />
            </desn-skill-box>
          </div>
        </div>

        <div class="tile is-horizontal is-parent">
          <div class="tile is-child">
            <desn-skill-box
              imageUrl="icons/tools-and-utensils.png"
              title="Softwares"
            >
              <desn-skill-list [skills]="softwares" />
            </desn-skill-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
