@import "bulma/sass/utilities/mixins.sass";

.modal-card-head,
.modal-card-foot {
  @include mobile {
    border-radius: 0;
  }
}

:host ::ng-deep markdown > :first-child,
:host ::ng-deep markdown > :nth-child(2) {
  display: none;
}
:host ::ng-deep markdown > :nth-child(3) {
  margin-top: 0;
}
