<div class="card custom-card">
  <header class="card-header">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ project?.title }}</p>
        <p class="subtitle is-7">
          {{ project?.subtitle }}
        </p>
      </div>
    </div>
  </header>
  <div class="card-content">
    <div class="card-image">
      <figure class="image is-16by9 is-full">
        <img
          sizes="(max-width: 1400px) 100vw, 1400px"
          [srcset]="project?.image | srcset"
          src="assets/images/{{ project?.image?.folder }}/{{
            project?.image?.folder
          }}_w_1400.jpg"
          alt=""
        />
      </figure>
    </div>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item" (click)="showProjectDetails()"> Voir plus </a>
  </footer>
</div>

<div class="modal" [ngClass]="{ 'is-active': shouldShowProjectDetails }">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-content">
        <p class="title">
          {{ project?.title }}
        </p>
        <p class="subtitle">{{ project?.subtitle }}</p>
        <div [innerHtml]="project?.content"></div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            Voir la <a [href]="project?.slidesUrl">présentation de la soutenance</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            Voir le <a [href]="project?.sourceCodeUrl">code source</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="hideProjectDetails()"
  ></button>
</div>
