<div class="card custom-card">
  <header class="card-header">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ project?.title }}</p>
        <p class="subtitle is-7">
          {{ project?.subtitle }}
        </p>
      </div>
    </div>
  </header>
  <div class="card-content">
    <div class="card-image">
      <figure class="image is-16by9 is-full">
        <img
          sizes="(max-width: 1400px) 100vw, 1400px"
          [srcset]="project?.image | srcset"
          src="assets/images/{{ project?.image?.folder }}/{{
            project?.image?.folder
          }}_w_1400.jpg"
          alt=""
        />
      </figure>
    </div>
  </div>

  <footer class="card-footer">
    <a class="card-footer-item" (click)="viewMoreButtonClicked.emit()">
      Voir plus
    </a>
  </footer>
</div>
