<ng-container
  *ngIf="{
    puzzle: selectedPuzzle$ | async,
    puzzleContent: puzzleContent$ | async
  } as observables"
>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card" (clickOutside)="hidePuzzleDetails()">
      <header class="modal-card-head">
        <p class="custom-modal-card-title modal-card-title">
          {{ observables.puzzle?.title }}
        </p>
        <div class="custom-modal-spacer"></div>
        <a
          class="delete"
          aria-label="fermer la fenêtre"
          (click)="hidePuzzleDetails()"
        ></a>
      </header>

      <section class="modal-card-body">
        <div class="custom-content content">
          <desn-quick-overview
            *ngIf="observables.puzzle?.quickOverview"
            [quickOverview]="observables.puzzle?.quickOverview"
          />
          <markdown
            class="markdown-content"
            testDir
            addCodeHeaders
            (error)="onError()"
            [data]="observables.puzzleContent"
          />
        </div>
      </section>

      <footer class="modal-card-foot card-footer" style="padding: 0px">
        <p class="card-footer-item has-text-centered">
          <span>
            Voir le&nbsp;<a [href]="observables.puzzle?.subjectUrl">
              sujet complet
            </a>
          </span>
        </p>
        <p class="card-footer-item has-text-centered">
          <span>
            Voir le&nbsp;<a [href]="observables.puzzle?.sourceCodeUrl"
              >code source</a
            >
          </span>
        </p>
      </footer>
    </div>
  </div>
</ng-container>
