$family-primary: $family-serif;
$family-secondary: $family-sans-serif;

$title-family: $family-secondary;
$title-weight: $weight-light;
$subtitle-weight: $weight-light;
$subtitle-line-height: 1.9rem;

$border: #ededed;
