.very-low {
  color: #51577A;
}
.low {
  color: #51577A;
}
.medium {
  color: #51577A;
}
.high {
  color: #51577A;
}
.very-high {
  color: #51577A;
}

.icon {
  width: 1.2rem;
}

.tooltip.is-tooltip-multiline::before { white-space:pre-line }
