<section class="section is-medium has-text-centered">
  <h1 id="projets" class="title is-spaced">Projets</h1>
  <h2 class="subtitle">
    Vous pouvez retrouver dans cette section les projets auxquels j'ai
    contribué, qu'ils soient personnels, d'entreprise ou encadrés.
  </h2>
  <div
    class="columns is-multiline is-centered"
    *ngIf="featuredProjects$ | async as featuredProjects"
  >
    <div
      class="column is-full-mobile is-half-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd"
      *ngFor="let featuredProject of featuredProjects"
    >
      <desn-project-card
        [project]="featuredProject"
        (viewMoreButtonClicked)="showProjectDetails(featuredProject)"
      />
    </div>
  </div>
  <a [routerLink]="['/projects']" class="button is-primary mt-3">
    <span>Voir plus de projets</span>
  </a>
</section>
