/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:&display=swap");
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
$family-serif: "Titillium Web", "Open Sans", serif;
$family-sans-serif: "Roboto", "Titillium Web", "Open Sans", serif;

// 3. Set the derived variables
$body-background-color: rgba(240, 248, 255, 0.521);
$family-primary: $family-serif;
$family-secondary: $family-sans-serif;

$title-family: $family-secondary;
$title-weight: $weight-light;
$subtitle-weight: $weight-light;
// letter-spacing: 0.02rem;
$subtitle-line-height: 1.9rem;

// 4. Setup your Custom Colors
$primary: #2c2c54;
$dark: #bfd7ea;
// 5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables";
$addColors: ();
$colors: map-merge($colors, $addColors);

// 6. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
@import "../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";
@import "../node_modules/@creativebulma/bulma-divider/dist/bulma-divider.min.css";

html {
  overflow-y: auto !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenu {
  flex-grow: 1;
}

.column {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;

  .subtitle {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.08rem;
  }
}
.card-footer {
  margin-top: auto;
}
.media-content {
  overflow-y: hidden;
}

.divider {
  color: #64649b8f;
  &::before,
  &::after {
    background-color: #64649b29;
  }
}

.has-background-primary {
  a:not(.button) {
    color: #8ec8fb;

    &:hover {
      color: #ecf5fd;
    }
  }
}

$text-strong: inherit;
